server:
    mode: "debug"
    addr: ":12000"         # listen address and port
    environment: "local"  # possible value: local, staging, demo and production
    expiredToken: 24
    secretKey: "BALAKUTAK"
    BaseURL: "http://localhost:12000"

database:   
    DBUser: "root"
    DBName: "avolta"
    DBPassword: "balakutak"
    DBHost: "localhost"
    DBPort: 3306